.button {
    font: inherit;
    border: 1px solid gray;
    background: white;
    color: black;
    padding: 0.25rem 1rem;
    cursor: pointer;
    width: 100%;
    height: 2.5vw;
  }
  
  .button:hover,
  .button:active {
    background: white;
    border-color: white;
  }
  
  .button:focus {
    outline: none;
  }