.search_header{
  margin: 25px;
  background-color: whitesmoke;
  border-radius: 5px;
}

.search_header h1{
  margin: 0.5vw;
}

.filters_form{
    display: flex;
  }

  .filters{
    width: 100%;
    margin: 0.5vw;
  }